*
!.vscode
!.vscode/**
!doc
!doc/**
doc/subject.pdf
doc/*.exe
!svc
!svc/**
svc/build
svc/bin
!winkey
!winkey/**
winkey/build
winkey/bin
!Makefile
!build.bat
!README.md
!.gitignore
!admin.c
!build_admin.bat
